# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Postman
postman/

# Test files
test.html
socket.io.min.js

# Build
dist/
build/
